<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src * https://encrypted-tbn0.gstatic.com/;
   img-src * 'self' https://encrypted-tbn0.gstatic.com/ encrypted-tbn0.gstatic.com/* data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">
    <title>Sharink {{name}} - {{author}}</title>
</head>
<body>
    <div class="background">
        <img class="background-image" src="{{cover}}" />
    </div>
    <main class="track-layout">
        <div class="track-cover">
            <img class="track-cover__image" src="{{cover}}" />
        </div>
        <header class="track-info">
            <span class="track-info__title">{{author}} - {{name}}</span>
        </header>
        <div class="track-links">
            {{#each links}}
                {{#if this}}
                    <a class="track-link" href="{{this}}" target="_blank" rel="noopener noreferrer">
                        <div class="track-link__content">
                            <img class="track-link__service-image" src="{{musicServiceLogo @key}}" />
                            <div class="track-link__play-button">Play</div>
                        </div>
                    </a>
                {{/if}}
            {{/each}}
        </div>
    </main>
</body>
<style>
    body, html {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    body {
        margin-top: 150px;
    }

    .background {
        overflow: hidden;
        
        z-index: -1;
        
        height: 200%;
        width: 200%;
        top: -50%;
        left: -50%;

        display: block;
        
        position: fixed;
        
        background-color: #fff;
    }

    .background-image {
        position: absolute;
        
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        
        max-width: none;
        min-width: 55%;
        min-height: 55%;
        margin: auto;

        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
                
        filter: blur(25px);
        -webkit-filter: blur(25px);

        opacity: 0.8;
    }

    .track-layout {
        width: 400px;
        margin: 0 auto;
    }

    .track-cover {
        width: 240px;
        height: 240px;
        margin: 0 auto;
    }

    .track-cover__image {
        width: 100%;
    }

    .track-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        filter: none;

        padding: 20px 0;
    }

    .track-info__title {        
        text-align: center;

        font-size: 28px;
        font-weight: 600;
    }

    .track-links {
        display: flex;
        flex-direction: column;

        border-radius: 10px;
        background-color: rgb(248, 245, 245);

        color: black;

        overflow: hidden;
    }

    .track-link {
        color: inherit;
        text-decoration: none;

        padding: 12px 15px;

        border-top: 1px solid rgb(223, 223, 223);
    }

    .track-link:hover {
        background-color: rgb(223, 223, 223);
    }

    .track-link:first-child {
        border-top: none;
    }

    .track-link__service-image {
        max-width: 200px;
        max-height: 40px;
    }

    .track-link__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .track-link__play-button {
        width: 30px;
        padding: 10px;
        border-radius: 5px;

        background-color: rgb(209, 209, 209);
    }
</style>
</html>