<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src * https://encrypted-tbn0.gstatic.com/;
   img-src * 'self' https://encrypted-tbn0.gstatic.com/ encrypted-tbn0.gstatic.com/* data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">
    <title>Sharink {{name}} - {{author}}</title>
</head>
<body>
    <main>
        <div class="background-image"></div>
        <div class="track-info">
            <span>{{name}}</span>
            <span>{{author}}</span>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCy16nhIbV3pI1qLYHMJKwbH2458oiC9EmA&s" crossorigin="anonymous" referrerpolicy="no-referrer" alt="alt">
        <div class="track-links">
            <ul>
                {{#each links}}
                    <li>{{@key}} - {{this}}</li>
                {{/each}}
            </ul>
        </div>
    </main>
</body>
<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .background-image {
        width: 100%;
        height: 100vh;

        position: absolute;

        filter: blur(8px);
        -webkit-filter: blur(4px);

        background-image: url({{cover}});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        z-index: -1;
    }

    .track-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        filter: none;

        color: white;
    }

    .track-links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        border-radius: 10px;
        border: 1px solid red;

        color: white
    }
</style>
</html>